/* CSS */
:root {
  /* option 1 for color scheme */
  --bg-light: #838E83;
  --graylights: #DADAF5;
  --mlightlights: #F9F9F9;
  --mtextcolor: #F15A24;
  --bg-dark: #6C6061;

  /* option 2 for color scheme */
  /* --purple-x-11: hsla(265, 68%, 93%, 1);
  --persian-indigo: hsla(255, 87%, 47%, 1);
  --blue-jeans: hsla(201, 100%, 97%, 1);
  --medium-spring-green: hsla(156, 100%, 97%, 1);
  --orchid: hsla(301, 54%, 90%, 1); */
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  /* color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff; */
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* background-color: #333; */
  background-color: var(--bg-dark);
}
body {
  /* color: #fff; */
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  border-top: solid 4px var(--mtextcolor);
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  z-index: 10;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff; /* IE8 proofing */
  color: var(--mtextcolor);
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  z-index: 10;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff; /* IE8 proofing */
  /* color: rgba(255, 255, 255, .75); */
  color: var(--mtextcolor);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /* border-bottom-color: #a9a9a9; */
  /* border-bottom-color: rgba(255, 255, 255, .25); */
  border-bottom-color: var(--bg-light);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  /* color: #fff; */
  color: var(--mtextcolor);
  border-bottom-color: var(--mtextcolor);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
    /* margin-bottom: 100px; */
  }
}

/* #drawSpace-div{
  width:45vw;
  height:60vh;
  border-radius:50px;
  background:rgb(200,200,200);
  display: flex;
  justify-content: center;
  align-items: center;
} */

#threeD-div {
  /* margin-top: 50px; */
  z-index: 2;
  /* position: absolute;
  top:-20vh; */
  /* background:rgb(250,20,100); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjustment-card {
  /* background-color: #f4f1f2; */
  margin-top: 2em;
  padding: 0.1em;
}

.slider-card {
  border-radius: 1vw;
}

.button-card {
  padding: 0px;
  border-radius: 1vw;
  background: none !important;
  /* width: 6em ;
  height: 6em ; */
}

.button-card img {
  height: 6vh;
  cursor: pointer;

}

#creationSpace {
  padding: 1em;
  /* background-color: #f4f1f2; */
  height: 35vh;
  border-radius: 50px;
  margin: 0px 0px 3vh 0px;
}

#adjustments {
  padding: 40px;
}

#detail-slide {
  padding: 10px 30px 10px 30px;
  height: 8vh;
}

@media (max-width: 576px) {
  #detail-slide {
    padding: 10px 5px 10px 5px;
  }
}

#creationSpace .card-header {
  float: left;
  padding-left: 2em;
}
#detail-slide .card-header {
  float: left;
  /* padding: 10px; */
}

.color-slides {
  padding: 1em;
  /* background-color: #f4f1f2; */
  border-radius: 50px;
  margin: 0px;
  margin-top: 0vh;
}

.creationSpace-toolbar {
  /* margin:; */
  padding-left: 5vw;
  padding-right: 5vw;
}

.color-slidecontainer {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}
.card {
  background-color: var(--mlightlights);
}
/* #checkout-card {
  background-color: #f4f1f2 !important;
  margin-top: 2em;
  padding: 0.1em;
} */

#back-button {
  float: left;
  /* margin: 0px 0px 0px 3px; */
  position: relative;
  top: 0em;
  left: 0em;

}

.email-submission {
  padding: 1.5em 0px;
}

/* removes the autofill background color for inputs*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--graylights) inset !important;
}

.email-submission input {
  border-radius: 20px 0px 0px 20px;
  border: none;
  margin-right: 0px;
  padding-left: 0.5em;
  height: 2em;
  width: 32vw;
  background-color: var(--graylights);
}
.email-submission button {
  border-radius: 20px 20px 20px 20px;
  border: none;
  margin-left: -6vw;
  height: 2em;
  width: 6em;
  color: black;
  /* color: green; */
  font-weight: bold;
  background-color: var(--mtextcolor);
}

#order-submission-row {
  display: none;
}

#drawingAndAdjustments {
  display: block;
}

#sizeWarning {
  display: none;
  height: 100vh;
  width: 100vw;
  color: var(--mtextcolor);
}

/* @media (max-height: 658px){
  #sizeWarning{
    display:block;
  }
  #studio{
    display:none;
  }
} */
